.container {
    height: 100%;
    display: grid;
    grid-template-columns: max-content 2fr;
}

.sidebar {
    border-right: 1px solid var(--main);
    display: flex;
    padding: 0.2rem 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 0.5rem;
    width: 15rem;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.3rem;
    margin-bottom: 0.8rem;
}

.notesContainer{
    width: 100%;
    border-top: 1px solid var(--main);
    padding-top: 0.5rem;
}

.notesMenu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 0.8rem;
}

.notesMenu section{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.3rem;
}

label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-gray);
    border-radius: 0.2rem;
    padding: 0.2rem 3px;
}

label input{
    background-color: transparent;
    border: none;
    width: 100%;
    color: var(--fg);
}

label input:focus{
    border: none;
    outline: none;
}

button{
    background-color: var(--bg);
    border: 0.12rem solid var(--main);
    border-radius: 0.2rem;
    color: var(--fg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    column-gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: var(--main);
}